.footer {
  background: #0f223d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  flex-wrap: wrap;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-right p{
  margin: 0;
  font-size: 16px;}

.social-icons i {
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
}

.social-icons i:hover {
  color: #ffd6d6;
}
